@import './base.css';

#app{
  width: 100%;
  min-height: 100vh;
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.bg-f{
  background-color: #fff;
  border-radius: 15px;
}
.flex{
  flex: 1;
}
.flex-direction{
  display: flex;
  flex-direction: row-reverse;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-start{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}




/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
